{% extends 'base.html' %}

{% block content %}

<br>
<div class="row">
  <div class="card grey lighten-5">
    <div class="card-content black-text">
      <form action="{% url 'nova_postagem' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s9 m11 l11">
            <input type="text" id="id_conteudo" name="conteudo" placeholder="Diga algo!" maxlength="256" required>
            <label for="id_conteudo">Nova postagem</label>
          </div>
          <div class="col s3 m1 l1">
            <button class="btn btn-convite main-color" type="submit" value="Submit"><i class="material-icons">send</i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">

  <div class="col s12">

    {% for postagem in perfil_logado.obter_timeline %}
      <div class="card grey lighten-4">
        <div class="card-content black-text">
          <a href="{% url 'perfil' postagem.perfil.id %}">
            <img href="" class="circle" src="{{ postagem.perfil.foto.url }}" width="64" height="64">
            <h6 class="profile-title">{{ postagem.perfil.nome }}</h6>
          </a>
          <a class="post-date">{{ postagem.data_edicao }}</a>
          <br><br>
          <p>{{ postagem.conteudo }}</p>
          <img src="{{ post.imagem }}"/>
        </div>
      </div>
    {% endfor %}

  </div>

</div>


{% endblock %}